<config>
    <modules>
        <Degriz_Forcecomplete>
            <version>1.0.0</version>
        </Degriz_Forcecomplete>
    </modules>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <degriz_forcecomplete>
                        <type>singleton</type>
                        <class>Degriz_Forcecomplete_Model_Observer</class>
                        <method>doForceInvoiceWithShipment</method>
                    </degriz_forcecomplete>
                </observers>
            </sales_order_place_after>
        </events>
        <helpers>
            <degriz_forcecomplete>
                <class>Degriz_Forcecomplete_Helper</class>
            </degriz_forcecomplete>
        </helpers>
    </global>
    <admin>
        <routers>
            <orders>
                <use>admin</use>
                <args>
                    <module>Degriz_Forcecomplete</module>
                    <frontName>forcecomplete</frontName>
                </args>
            </orders>
        </routers>
    </admin>    
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <forcecomplete>
                        <type>singleton</type>
                        <class>Degriz_Forcecomplete_Model_Observer</class>
                        <method>addMassAction</method>
                    </forcecomplete>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <Degriz_Forcecomplete>
                    <files>
                        <default>Degriz_Forcecomplete.csv</default>
                    </files>
                </Degriz_Forcecomplete>
            </modules>
        </translate>
    </adminhtml>
</config>